<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable='no'" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>SMS Client</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/app.css">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="SMS Client" />
  <meta property="og:description" content="Simple client for sending SMS" />
</head>
<body>

  <div id="app">
    <h1 class="text-center"><samp>SMS Client</samp><br /><small>Sending SMS in a snap</small></h1>
    <div class="container">
      <br /><br /><br /><br /><br />
      <home></home>
    </div>
  </div>

 <template id="home">
   <div class="panel panel-default">
     <div class="panel-heading">
       <h3>Send new message</h3>
     </div>
     <div class="panel-body">
       <form v-on:submit.prevent="onSubmit" class="form-horizontal">
        <div class="form-group">
          <label for="number" class="col-sm-2 control-label">Number</label>
          <div class="col-sm-10">
            <input v-model="number" type="tel" class="form-control" name="number" id="number">
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-sm-2 control-label">Message</label>
          <div class="col-sm-10">
            <textarea v-model="message" class="form-control" rows="5"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" :disabled="submitDisabled">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
 </template>

  <script src="js/vue.js"></script>
  <script src="js/vue-strap.min.js"></script>
  <script src="js/vue-resource.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
